

----------------------------------------------------------------------------
                 This is {{ rpi64box_name }} {{ rpi64box_version }}, {{ rpi64box_release_date }}.
----------------------------------------------------------------------------
RPI64Box is a disk image for a portable web server running on a Single Board Computer and converts its hardware’s Wi-Fi into a hotspot for networking. Implemented on a Ubuntu 64-bit Long Term version, it offers stability and increased performance. Initially built to compare LAMP-based web server performance when OS bit-depth and storage devices are varied, the RPI64Box can be used to compare the hardware performance of a microserver against the published one available on rpi64box.com. The default web application can also be replaced to create portable web applications for online and offline usage.

RPI64Box was built by porting Nicolas Martignoni’s MoodleBox ansible script {{ moodlebox_version }}, {{ moodlebox_release_date }}  from a 32-bit Pi OS to a 64-bit Ubuntu LTS. Moodlebox is available on moodlebox.net and https://github.com/moodlebox/moodlebox. RPI64Box is available on https://rpi64box.com and https://github.com/dhuny/RPI64Box.

see also: https://doi.org/10.1016/j.array.2022.100196
----------------------------------------------------------------------------



